#error-content {
  display: none;
}
#site-info {
  padding: 5px;
  display: none;
}
#log-out-1, #log-out-2 {
  float: right;
  color: grey;
}
body {
  padding: 0px;
  margin: 0px;
  height: 290px;
  width: 245px;
  color: #2A2A2E;
}
#seed-input-div {
  width: 190px;
  padding: 0px;
  margin-left: 30px;
  margin-right: 30px;
}
#seed {
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  padding-bottom: 1px;
  width: 90%;
}
#seed-enter {
  margin-top: 105px;
}
#go-button {
  border: none;
}
.disabled{
  pointer-events: none;
}
#balance-too-low {
  color: red;
}
.tab {
  padding: 2px;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
#tabs {
  margin-top: 5px;
  margin-left: 5px;
}
.selected-tab {
  font-weight: bold;
}
.unselected-tab {
  border-bottom: 2px solid black;
}
#true-address {
  display: none;
}